@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
html {
    scroll-behavior: smooth;
}
body {
     background-image: url(/static/img/background.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: #000;
     font-family: Poppins, sans-serif;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}
 h1, h2, h3, h4, h5, h6 {
     color: #000;
}
 h1 {
     font-size: 30px;
}
 .navbar-brand img {
     width: 60px;
     height: auto;
}
 .navbar {
     width: 100%;
}
 .site-header .navbar-nav .nav-link {
     color: #cbd5db;
}
 .site-header .navbar-nav .nav-link:hover {
     color: #fff;
}
 .account, .my-review, .login, .register {
     margin-top:40px;
}
 .fa-star, .stars {
     color: gold;
     font-size: 25px;
}
 div.c-item {
     width: 100%;
     margin: 0 auto !important;
}
.btn-submit {
     width: 100%;
     height: 30px;
     color: #fff;
     padding: 0 10px !important;
     border: none;
     border-radius: 30px;
     background-color: #b81f1f;
}
.btn-submit:focus {
     outline: 0;
}
 .owl-nav button:hover {
     background-color: transparent !important;
}
 .owl-prev:hover, .owl-next:hover {
     outline: none !important;
     background: transparent !important;
}
 .owl-prev:focus, .owl-next:focus {
     outline: none !important;
     background: transparent !important;
}
 .owl-prev span, .owl-next span {
     font-size: 90px;
     color: #428bca;
     cursor: pointer;
}
 .owl-theme .owl-nav {
     margin-top: -30px !important;
}
.owl-item {
  display: flex;
  padding: 0 0.6%;
}
.owl-item img {
    height: 350px;
    object-fit: fit;
    box-shadow: 0 0 8px 0 #fff;
    border-radius: 10px;
    margin-top: 8px;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
    margin: 10px auto;
}
 footer {
     margin-top: auto;
}
 .account-img {
     height: 125px;
     width: 125px;
     margin: 0 20px 16px 0;
}
 .content-section {
     background: #fff;
     padding: 10px 20px;
     border: 1px solid #ddd;
     border-radius: 3px;
     margin-bottom: 20px;
}
 .rating-stars ul {
     list-style-type: none;
     padding: 0;
}
 .rating-stars ul>li.star {
     display: inline-block;
}
 .rating-stars ul>li.star>i.fa {
     font-size: 2em;
     color: #ccc;
}
 .rating-stars ul>li.star:hover>i.fa {
     transform: rotate(-15deg) scale(1.3);
}
 .rating-stars ul>li.star.selected>i.fa {
     color: gold;
}
 .rating-stars ul>li.star.selected.first>i.fa {
     color: #f62;
}
 .rating-stars ul>li.star.selected-all>i.fa {
     color: gold;
     text-shadow: 0 0 20px #952;
}
.heading {
    margin-top: 3rem;
}
#button-top {
    position: fixed;
    bottom: 800px;
    right: 20px;
    border-radius: 50%;
    background-color: #b81f1f;
    border: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: 0.7s;
}
#button-top.active {
    bottom: 20px;
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 800px) {
    .owl-item img {
        height: 325px;
    }
    .mobile-center {
        text-align: center !important;
    }
}
@media screen and (max-width: 768px) {
    .movie-poster {
        border-radius: 0.25rem;
        margin-top: 1rem;
    }
    .mobile-center {
        text-align: center !important;
    }
}
@media screen and (max-width: 500px) {
    .heading {
        font-size: 22px;
        margin-top: 1rem;
    }
    div.c-item {
        width: auto;
    }
    .stars {
        font-size: 22px;
    }
    .rating-stars {
        font-size: 12px;
    }
    .movie-info p {
        font-size: 14px;
    }
    .mobile-center {
        text-align: center !important;
    }
}
@media screen and (max-width: 375px) {
    .rating-stars {
        font-size: 11px;
    }
}
@media screen and (max-width: 320px) {
    .stars {
        font-size: 18px;
    }
    .rating-stars {
        font-size: 10px;
    }
}
@media screen and (max-width: 280px) {
    .navbar-brand,
    .heading {
        font-size: 17px;
    }
    .stars {
        font-size: 15px;
    }
    .mobile-center {
        text-align: center !important;
    }
    .rating-stars {
        font-size: 8px;
    }
}