{% extends "layout.html" %}
{% block content %}
<div class="row row d-flex justify-content-center">
	<div class="col-md-10">
		<div class="py-4">
			{% for i in reviews %}
			<div class="container mt-3">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="bg-white mobile-center rounded">
							<div>
								<div class="p-3">
									<h5><strong>{{ i.title }}</strong></h5>
									<p>{{i.review}}</p>
									<div class="stars">
										{% for i in i.star|ran %}
										<span class="fa fa-star checked"></span>
										{% endfor %}
									</div>
									<div class="row d-flex align-items-center form-group mt-3">
										<div class="col-md-6">
											<div class="card w-100">
												<ul class="list-group list-group-flush">
													<li class="list-group-item">
														<div class="row align-items-center">
															<p class="col-md-4">Reviewed by:</p>
															<p class="col-md-8">{{ i.author }}</p>
														</div>
													</li>
													<li class="list-group-item">
														<div class="row align-items-center">
															<p class="col-md-4">Date:</p>
															<p class="col-md-8">{{ i.created_at }}</p>
														</div>
													</li>
													{% if check==1 and user==i.author %}
													<li class="list-group-item">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-12">
                                                                <form method="get"
                                                                    action="{{url_for('review_edit', review_id=i._id)}}">
                                                                    <button type="submit"
                                                                        class="btn btn-secondary w-100">Edit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </li>
													<li class="list-group-item">
														<div class="row align-items-center">
															<div class="col-md-12">
																<form method="post" action="{{url_for('review_delete', review_id=i._id)}}">
																	<button type="submit" class="btn btn-danger w-100" aria-label="Delete Button">Delete</button>
																</form>
															</div>
														</div>
													</li>
													{% endif %}
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<img class="img-fluid img-large movie-poster" src=" {{i.link}} " alt="Movie Poster">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}